<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% block head %}
    <link rel="stylesheet" href="{{ url_for("static",filename="style/navbar.css") }}">
    <link rel="stylesheet" href="{{ url_for("static",filename="style/structure.css") }}">
     {% block other_css %}
     {% endblock %}


    <title>
    {% block title %}
    {% endblock %}
    </title>
    {% endblock %}
  </head>

  <body style="overflow: scroll" background="black">
  <div class="container" >

    {% block body %}

    <main class="main">
        {% block main %}

        {% endblock %}

    </main>




    <div class="left_column">
    {% block page_side %}

    {% endblock %}
    </div>
    {% endblock %}

  </div>


  <div id="nav-bar">
      <span class="navIcon"><a href="{{ url_for("index") }}">TECHBLOG</a></span>
      <a href="{{ url_for('index') }}" class="menuicon">Home |</a>
      <a href="{{ url_for('doc') }}" class="menuicon">Doc | </a></span>
      <a href="{{ url_for('doc') }}" class="menuicon">News|</a>
  {% block login %}
      <span class="menuicon"><a  href="{{ url_for('login') }}">Login</a>
      </span>
  {% endblock %}
      <link rel="shortcut icon" href="{{ url_for("static",filename="img/login.svg") }}" type="image/x-icon">{% block links %}

      {% endblock %}
    </div>

  {% block footer %}
    <footer>
            <hr>
            <p align="center"> &copy 2019 Arno Li</p>
    </footer>
    {% endblock %}

    {% block script%}
  {% endblock %}
  </body>
</html>