<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
    <link href="https://unpkg.com/@primer/css/dist/primer.css" rel="stylesheet" />
</head>

<body class="bg-gray-light">

    <div id="root" >

        <main class="border bg-white container-lg clearfix" style="min-height: 900px;">
            <div class="p-2 mt-4">
                <h1 class="f1 text-center text-gray-dark"> archive title</h1>
                <p class="f3 text-center text-gray-light">2019-12-5 | author</p>
            </div>
            
            <section class="pl-6 pr-6 f3 text-gray">
                <p> 这是内容，这是内容，这是内容，这是内容，这是内容，这是内容，这是内容.</p>
                <p>This is Text . This is Text . This is Text . This is Text . This is Text . v This is Text . This is Text . This is Text . This is Text .This is Text . This is Text . This is Text . This is Text . This is Text . This is Text .</p>
            </section>

        </main>

    </div>
</body>
</html>