{% extends "base.html" %}


{% block other_css %}
       <link rel="stylesheet" href="{{ url_for("static",filename="style/blogitem.css") }}">
{% endblock %}


{% block page_side %}
                <p>Ever tired of searching, I have learned to find what is right; </p>
                <p>since a headwind has struck me, I have been able to withstand wind from all directions and travel by boat.</p>
{% endblock %}


{% block links %}

{% endblock %}

{% block main %}
            <article>

                <section class="blog_item_bg">
                    <a class="f3" href="/archive/1">archive title</a>
                    <p class="f5">this is archive summary.</p>
                </section>

                <section class="blog_item_bg">
                    <a class="f3" href="/archive/1">archive title</a>
                    <p class="f5">this is archive summary.</p>
                </section>

                <section class="blog_item_bg">
                    <a class="f3" href="/archive/1">archive title</a>
                    <p class="f5">this is archive summary.</p>
                </section>

                <section class="blog_item_bg">
                    <a class="f3" href="/archive/1">archive title</a>
                    <p class="f5">this is archive summary.</p>
                </section>

                <section class="blog_item_bg">
                    <a class="f3" href="/archive/1">archive title</a>
                    <p class="f5">this is archive summary.</p>
                </section>

                <section class="blog_item_bg">
                    <a class="f3" href="/archive/1">archive title</a>
                    <p class="f5">this is archive summary.</p>
                </section>

            </article>


{% endblock %}

{% block footer %}
{% endblock %}


