{% extends "base.html" %}
{% import "macro.html" as macro %}

{% block other_css %}
       <link rel="stylesheet" href="{{ url_for("static",filename="style/blogitem.css") }}">
{% endblock %}


{% block page_side %}
    <div style="">
    <div class="siteInfo">
    <p>Blog Space</p>
    {% if user %}
<img class=avatar src="{{ url_for("static",filename="img/avater.png") }}">
    <span style="font-size: 20px; position: relative; bottom: 40px; border:lightblue solid" ><Strong>{{ user.username }}</Strong></span>
<br>

    <hr>
        {% if user.profile.first() %}
            {% if user.profile.first().gender == "1" %}
         <h3 style="font-size: 16px">Gender:
             <span style="color: black;font-size:16px; font-style: italic;padding: 0;" >Female</span></h3>
            {% else %}
           <h3 style="font-size: 16px">Gender:
             <span style="color: black;font-size:16px; font-style: italic;padding: 0;" >Male</span></h3>
             {% endif %}
        {% else %}
           <h3 style="font-size: 16px">Gender:
             <span style="color: black;font-size:16px; font-style: italic;padding: 0;" >none</span></h3>
        {% endif %}
            <h3 style="font-size: 16px">Email:
        <span style="color: black;font-size:16px; font-style: italic;padding: 0;" >{{ user.email}}</span></h3>
        {% if user.profile.first()%}
        <h3 style="font-size: 16px">Birthday: <span style="color:
      black;font-size:16px; font-style: italic;padding: 0;" >{{user.profile.first().date() }}</span></h3>
         {% else %}
           <h3 style="font-size: 16px">Birthday: <span style="color:
      black;font-size:16px; font-style: italic;padding: 0;" >None</span></h3>
           {% endif %}
      <h3 style="font-size: 16px">Github: <a href="https://github.com/guiwecgdiu?tab=repositories" style="color:
      black;font-size:16px; font-style: italic;padding: 0;" >github.com</a></h3>
{% else %}
    <img class=avatar src="{{ url_for("static",filename="img/user.jpg") }}">
    <span style="font-size: 20px; position: relative; bottom: 40px; border:lightblue solid" ><Strong>Log In</Strong></span>
<br>

    <hr>
    {{ macro.render_profile("Gender","undefined") }}
    {{ macro.render_profile("Emial","Undifined") }}
    {{ macro.render_profile("Posts","Undifined") }}
    {{ macro.render_profile("State","Undifined") }}
{% endif %}

</div>

            Operation:<br>
			<a href="{{ url_for('post') }}">Write a Post</a><br>
			<a href="{{ url_for('profile') }}">Edit Profile</a><br>
			<a href="{{ url_for('logout') }}">Logout</a><br>
    </div>
                <p>Ever tired of searching, I have learned to find what is right; </p>
                <p>since a headwind has struck me, I have been able to withstand wind from all directions and travel by boat.</p>
{% endblock %}


{% block links %}

{% endblock %}

{% block main %}
            <article>

            {% if prev_posts %}
		{% for post in prev_posts %}
            <section class="blog_item_bg">
              <p style="float: bottom">
                  <a style="font-size: 20px;position: relative;left: 5px"  href="">{{ post.title }}</a> <span style="position: relative;left: 80%">{{ post.time() }}</span></p>
                    <p style="position: relative;left: 10px;font-style: italic;height: 100px;width: 95%;border: solid;" >{{ post.body }}</p>

                </section>
		{% endfor %}
		<hr>
	{% else %}
		<p>No previous posts!</p>
		<hr>
	{% endif %}

            </article>
{% endblock %}

{% block footer %}
{% endblock %}
{% block login %}
    {% if user %}
    <span class="menuicon"><a  href="{{ url_for('profile') }}">{{ user }}</a>
      </span>
    {% else %}
    {{ super() }}
    {% endif %}
{% endblock %}

