{% extends "template.html" %}

{% block css %}
   <link rel="stylesheet" href="{{ url_for("static",filename="style/gene_home_page.css") }}">
{% endblock %}

{% block content %}

<div class="introduce">

{% if user %}
    <h1> Hello, {{ user }}</h1>
{% else %}
<h1>Welcome to this blog</h1>
 {% endif %}
<p>This blog is sent for a tech post sharing.....</p>
</div>
{% endblock %}

{% block login %}
    {% if user %}
    <span class="menuicon"><a  href="{{ url_for('doc') }}">{{ user }}</a>
      </span>
    {% else %}
    {{ super() }}
    {% endif %}
{% endblock %}
