{% extends "template.html" %}
{% block css %}
   <link rel="stylesheet" href="{{ url_for("static",filename="style/gene_home_page.css") }}">

{% endblock %}
{% block content %}
<div class="element_bg" style="position: relative;right: 100px">
	<form action="" method="post" onnsubmit="a()" novalidate >
        {{ form.hidden_tag() }}
        <br>
        <p>
            {{ form.postTitle.label }}<br>
            {{ form.postTitle(size=20) }}(Input limit in 20)<br>
        {{ form.postbody.label }}<br>
        <div>{{ form.postbody(cols=50,rows=20) }}</div>

			{% for error in form.postbody.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

		<p>{{ form.submit() }}</p>
    </form>
 <a a href="javascript:void(0);" onclick="a()">Post Validator</a>
</div>
{% endblock %}

{% block login %}
    {% if user %}
    <span class="menuicon"><a  href="{{ url_for('profile') }}">{{ user }}</a>
      </span>
    {% else %}
    {{ super() }}
    {% endif %}
{% endblock %}
