{% extends "template.html" %}
{% block css %}
   <link rel="stylesheet" href="{{ url_for("static",filename="style/gene_home_page.css") }}">

{% endblock %}
{% block content %}

{#    reference3 those code comes assignment of week 13#}
    <p> Give details of your profile</p>

	<form class="element_bg" action="" method="post" enctype="multipart/form-data" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.dob.label }}<br>
			{{ form.dob(size=32) }}
			{% for error in form.dob.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
		<p>
            {% for choice in form.gender %}
				<tr>
					<td>{{ choice }}</td>
					<td>{{ choice.label }}</td>
				</tr>
			{% endfor %}

			{% for error in form.gender.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
	<p>{{ form.submit() }}</p>
    </form>
{#    end reference#}
{% endblock %}

{% block login %}
    {% if user %}
    <span class="menuicon"><a  href="{{ url_for('profile') }}">{{ user.username }}</a>
      </span>
    {% else %}
    {{ super() }}
    {% endif %}
{% endblock %}
