{% extends "base.html" %}
{% import "macro.html" as macro %}

{% block other_css %}
<link rel="stylesheet" href="{{ url_for("static",filename="style/general.css") }}"/>

{% block css %}
{% endblock %}

{% endblock %}




{% block body%}

  <div class="alert">
  <ul class="alters" style="float: top">
       {% for message in get_flashed_messages() %}
    <li class="message" style="display: block"><button type="button" class="close" onclick="close_flash_message()" data-dismiss="alert">&times</button>
      {{ message }} </li>
       {% endfor %}
   </ul>
  </div>

<div class="content">
{% block content %}
{% endblock %}
</div>



<div class="siteInfo">
    <p>About Me</p>
    {% if user %}
<img class=avatar src="{{ url_for("static",filename="img/avater.png") }}">
    <span style="font-size: 20px; position: relative; bottom: 40px; border:lightblue solid" ><Strong>{{ user.username }}</Strong></span>
<br>

    <hr>
        {% if user.profile.first() %}
            {% if user.profile.first().gender == "1" %}
         <h3 style="font-size: 16px">Gender:
             <span style="color: black;font-size:16px; font-style: italic;padding: 0;" >Female</span></h3>
            {% else %}
           <h3 style="font-size: 16px">Gender:
             <span style="color: black;font-size:16px; font-style: italic;padding: 0;" >Male</span></h3>
             {% endif %}
        {% else %}
           <h3 style="font-size: 16px">Gender:
             <span style="color: black;font-size:16px; font-style: italic;padding: 0;" >none</span></h3>
        {% endif %}
            <h3 style="font-size: 16px">Email:
        <span style="color: black;font-size:16px; font-style: italic;padding: 0;" >{{ user.email}}</span></h3>

          {% if user.profile.first() %}
        <h3 style="font-size: 16px">Birthday: <span style="color:
      black;font-size:16px; font-style: italic;padding: 0;" >{{user.profile.first().date() }}</span></h3>
         {% else %}
           <h3 style="font-size: 16px">Birthday: <span style="color:
      black;font-size:16px; font-style: italic;padding: 0;" >None</span></h3>
           {% endif %}

      <h3 style="font-size: 16px">Github: <a href="https://github.com/guiwecgdiu?tab=repositories" style="color:
      black;font-size:16px; font-style: italic;padding: 0;" >github.com</a></h3>
    <br>
    <p style="width: 100%">I will post some of my finding here. Welcome you guys to login as my guests and share your post here!!</p>

    <br>
{% else %}
    <img class=avatar src="{{ url_for("static",filename="img/user.jpg") }}">
    <span style="font-size: 20px; position: relative; bottom: 40px; border:lightblue solid" ><Strong>Log In</Strong></span>
<br>

    <hr>
    {{ macro.render_profile("Gender","undefined") }}
    {{ macro.render_profile("Emial","Undifined") }}
    {{ macro.render_profile("Posts","Undifined") }}
    {{ macro.render_profile("State","Undifined") }}
    <p style="width: 100%">A short state will be given here.....</p>
{% endif %}

</div>


{% endblock %}

{% block login %}

{{ super() }}

{% endblock %}

